# temp files
*~
.DS_Store
*.autosave
*.asv
*.bak
octave-workspace

# compiled outputs and binaries
*.mex*
*.a
*.o
*.lib
*.obj
*.pdb
*.idb
*.ilk
*.exp
*.dll
*.so
*.dylib
*.exe

# generated docs
/doc/html/
/doc/latex/
/doc/matlab/

# published samples
/samples/html/
/opencv_contrib/samples/html/

# downloaded Java packages for generating docs
/utils/jars/*/*.jar

# downloaded files for samples and tests
/test/768x576.avi
/test/car.avi
/test/haarcascade_frontalface_default.xml
/test/lbpcascade_frontalface.xml
/test/haarcascade_frontalface_alt.xml
/test/haarcascade_eye_tree_eyeglasses.xml
/test/haarcascade_smile.xml
/test/haarcascade_mcs_nose.xml
/test/haarcascade_mcs_mouth.xml
/test/inriaperson.xml
/test/model.yml.gz
/test/ObjectnessTrainedModel/
/test/att_faces.zip
/test/att_faces/
/test/mnist/
/test/dnn/
/test/cloning/
/test/data01.xml
/test/RubberWhale.flo
/test/sparse_optical_flow.avi
/test/Histogram_Comparison_Source_*.jpg
/test/cards.png
/test/graf[13].png
/test/blais.mp4
/test/pca_test1.jpg
/test/digits.png
/test/letter-recognition.data
/test/starry_night.jpg
/test/imageText[NR].png
/test/licenseplate_motion.jpg
/test/aero[13].jpg
/test/peilin_*.png
