# temp files
*~
.DS_Store
*.autosave
*.asv
*.bak
octave-workspace

# compiled outputs and binaries
*.mex*
*.a
*.o
*.lib
*.obj
*.pdb
*.idb
*.ilk
*.exp
*.dll
*.so
*.dylib
*.exe

/build/dist/
/build/build/
/opencv/

# generated docs
/doc/html/
/doc/matlab/
/doc/wiki/
/doc/helpsearch*/
/doc/helpfuncbycat.xml

# published samples
/samples/html/
/opencv_contrib/samples/html/

# downloaded Java packages for generating docs
/utils/jars/*/*.jar

# downloaded files for samples and tests
/test/768x576.avi
/test/car.avi
/test/haarcascade_frontalface_default.xml
/test/lbpcascade_frontalface.xml
/test/haarcascade_frontalface_alt.xml
/test/haarcascade_eye_tree_eyeglasses.xml
/test/haarcascade_smile.xml
/test/haarcascade_mcs_nose.xml
/test/haarcascade_mcs_mouth.xml
/test/inriaperson.xml
/test/model.yml.gz
/test/ObjectnessTrainedModel/
/test/att_faces.zip
/test/att_faces/
/test/mnist/
/test/dnn/
/test/cloning/
/test/data01.xml
/test/RubberWhale.flo
/test/sparse_optical_flow.avi
/test/Histogram_Comparison_Source_*.jpg
/test/cards.png
/test/graf[13].png
/test/blais.mp4
/test/pca_test1.jpg
/test/digits.png
/test/letter-recognition.data
/test/starry_night.jpg
/test/imageText[NR].png
/test/licenseplate_motion.jpg
/test/aero[13].jpg
/test/peilin_*.png
/test/faceocc2.webm
/test/dudek.webm
/test/david.webm
/test/face_landmark_model.dat
/test/lbfmodel.yaml
/test/facemark/helen/
/test/facemark/ibug/
/test/facemark/lfpw/

# Files copied from opencv_contrib.
+cv/AdaptiveManifoldFilter.m
+cv/AffineFeature2D.m
+cv/anisotropicDiffusion.m
+cv/applyChannelGains.m
+cv/BackgroundSubtractorCNT.m
+cv/BackgroundSubtractorGMG.m
+cv/BackgroundSubtractorGSOC.m
+cv/BackgroundSubtractorLSBP.m
+cv/BackgroundSubtractorMOG.m
+cv/BasicFaceRecognizer.m
+cv/BIF.m
+cv/bilateralTextureFilter.m
+cv/BinaryDescriptor.m
+cv/BinaryDescriptorMatcher.m
+cv/bm3dDenoising.m
+cv/boardDump.m
+cv/BoostDesc.m
+cv/BriefDescriptorExtractor.m
+cv/BrightEdges.m
+cv/calcGlobalOrientation.m
+cv/calcMotionGradient.m
+cv/calcOpticalFlowDF.m
+cv/calcOpticalFlowSF.m
+cv/calcOpticalFlowSparseToDense.m
+cv/calibrateCameraAruco.m
+cv/calibrateCameraCharuco.m
+cv/ContourFitting.m
+cv/covarianceEstimation.m
+cv/DAISY.m
+cv/Dataset.m
+cv/dctDenoising.m
+cv/detectCharucoDiamond.m
+cv/detectMarkers.m
+cv/dictionaryDump.m
+cv/DISOpticalFlow.m
+cv/DisparityWLSFilter.m
+cv/DPMDetector.m
+cv/drawAxis.m
+cv/drawCharucoBoard.m
+cv/drawCharucoDiamond.m
+cv/drawDetectedCornersCharuco.m
+cv/drawDetectedDiamonds.m
+cv/drawDetectedMarkers.m
+cv/drawKeylines.m
+cv/drawLineMatches.m
+cv/drawMarkerAruco.m
+cv/drawPlanarBoard.m
+cv/DTFilter.m
+cv/EdgeAwareInterpolator.m
+cv/EdgeBoxes.m
+cv/estimatePoseBoard.m
+cv/estimatePoseCharucoBoard.m
+cv/estimatePoseSingleMarkers.m
+cv/Facemark.m
+cv/FacemarkKazemi.m
+cv/FASTForPointSet.m
+cv/FastGlobalSmootherFilter.m
+cv/FastHoughTransform.m
+cv/FastLineDetector.m
+cv/FREAK.m
+cv/getBoardObjectAndImagePoints.m
+cv/GPCForest.m
+cv/GradientDeriche.m
+cv/GradientPaillou.m
+cv/GraphSegmentation.m
+cv/GrayworldWB.m
+cv/GuidedFilter.m
+cv/HarrisLaplaceFeatureDetector.m
+cv/HfsSegment.m
+cv/HoughPoint2Line.m
+cv/ImgHash.m
+cv/InferBbox.m
+cv/inpaint2.m
+cv/interpolateCornersCharuco.m
+cv/jointBilateralFilter.m
+cv/l0Smooth.m
+cv/LATCH.m
+cv/LBPHFaceRecognizer.m
+cv/LearningBasedWB.m
+cv/LSDDetector.m
+cv/LUCID.m
+cv/matchGMS.m
+cv/MotionSaliencyBinWangApr2014.m
+cv/MSDDetector.m
+cv/niBlackThreshold.m
+cv/ObjectnessBING.m
+cv/OpticalFlowPCAFlow.m
+cv/PCTSignatures.m
+cv/PCTSignaturesSQFD.m
+cv/PeiLinNormalization.m
+cv/Plot2d.m
+cv/readOpticalFlow.m
+cv/refineDetectedMarkers.m
+cv/Retina.m
+cv/RetinaFastToneMapping.m
+cv/RidgeDetectionFilter.m
+cv/rollingGuidanceFilter.m
+cv/segmentMotion.m
+cv/SelectiveSearchSegmentation.m
+cv/SIFT.m
+cv/SimpleWB.m
+cv/StarDetector.m
+cv/StaticSaliencyFineGrained.m
+cv/StaticSaliencySpectralResidual.m
+cv/StructuredEdgeDetection.m
+cv/SuperpixelLSC.m
+cv/SuperpixelSEEDS.m
+cv/SuperpixelSLIC.m
+cv/SURF.m
+cv/SyntheticSequenceGenerator.m
+cv/TextDetectorCNN.m
+cv/thinning.m
+cv/TransientAreasSegmentationModule.m
+cv/updateMotionHistory.m
+cv/VariationalRefinement.m
+cv/VGG.m
+cv/WBDetector.m
+cv/weightedMedianFilter.m
+cv/writeOpticalFlow.m
