*~
.DS_Store
*.o
*.mex*
*.autosave
*.asv
*.bak
octave-workspace

# MS Visual Studio
*.obj
*.pdb
*.idb

# downloaded files
/test/768x576.avi
/test/car.avi
/test/haarcascade_frontalface_default.xml
/test/lbpcascade_frontalface.xml
/test/haarcascade_frontalface_alt.xml
/test/haarcascade_eye_tree_eyeglasses.xml
/test/haarcascade_smile.xml
/test/inriaperson.xml
/test/model.yml.gz
/test/ObjectnessTrainedModel/
/test/att_faces.zip
/test/att_faces/
/test/mnist/
/test/dnn/
/test/cloning/
/test/data01.xml
